/* * {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
} */

main {
    padding: 5%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 250px;
    text-align: center;
}

ul {
    list-style-position: initial;
}

h1,
.img,
.head p {
    text-align: center;
}